Load_Data_Flow.json
{
  "name": "Load_Data_Flow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "13W7GhxfgtFyrzbWnZVo396VbfCsDBPEr",
          "mode": "list",
          "cachedResultName": "n8n_project",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13W7GhxfgtFyrzbWnZVo396VbfCsDBPEr"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        -16
      ],
      "id": "14aea875-0473-4358-994a-4d20c416e3f6",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CRCcdBRDjhF9Cfxb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        -16
      ],
      "id": "3b19553c-edbd-4b4c-a3dc-d97be6403876",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CRCcdBRDjhF9Cfxb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-index",
          "mode": "list",
          "cachedResultName": "n8n-index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        -16
      ],
      "id": "16cfc90a-e69e-40b0-8d60-9b40586dcb97",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "B4Nb7hNU6YPxtgWY",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        176
      ],
      "id": "3e5f18f1-d72a-4539-8e38-c113a9f54a03",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "x9VveQqstqeNglui",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        512,
        192
      ],
      "id": "c3635cfa-7490-45af-9d15-6e6d54a571e5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        608,
        400
      ],
      "id": "590ded87-28f1-4c6e-8906-36115153a358",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0764a5e8-dedd-4782-babe-9e14d63435a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fead351fd743af498a96439a4c9a38521390ef79263d80707d1e824ffe6ccc7d"
  },
  "id": "jbO5zcEcFj3B40KKgzLMC",
  "tags": []
}