Telegram_Bot.json
{
  "name": "Telegram_Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        -112
      ],
      "id": "ee967d34-f7f6-4b05-8584-b7d7cda71d11",
      "name": "Telegram Trigger",
      "webhookId": "b33b4e23-64a2-4924-89ab-8a7646461a23",
      "credentials": {
        "telegramApi": {
          "id": "AJKNmAGpZ9DhnU54",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -80,
        -112
      ],
      "id": "b0e1c3e5-4ad1-4825-902f-be72d7d36493",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -272,
        144
      ],
      "id": "acae5991-3b0a-457a-addc-adb60d07e492",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "x9VveQqstqeNglui",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -96,
        160
      ],
      "id": "5387bced-2592-4464-8b1e-22275d125315",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        -112
      ],
      "id": "aa32fd7f-ace8-4cd6-ad46-c43448ca4c14",
      "name": "Send a text message",
      "webhookId": "8e5c062e-c6c0-49c8-81a8-c31635b38a2f",
      "credentials": {
        "telegramApi": {
          "id": "sc9HeTmNZ3QvGIY4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Provide information about Indian Penal Code (IPC)",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-index",
          "mode": "list",
          "cachedResultName": "n8n-index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        176,
        160
      ],
      "id": "a7744320-eb6e-48dc-96f8-4f5b936abc81",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "B4Nb7hNU6YPxtgWY",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        336
      ],
      "id": "ae35104e-aa13-4357-bc31-ed96b4be98e6",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "x9VveQqstqeNglui",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7995e2f7-0e17-4e8b-8dd7-f8f3e0416312",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fead351fd743af498a96439a4c9a38521390ef79263d80707d1e824ffe6ccc7d"
  },
  "id": "KKWZS0UK6IGsybmApXJyJ",
  "tags": []
}